.panel .list-group .list-group-item
{
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel .list-group .list-group-item .btn-group, .panel .panel-footer .btn
{
    margin-top: 0;
    margin-bottom: 0;
}